* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: snow;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkslategray;
}

main {
  display: flex;
  justify-content: center;
}

form {
  width: 300px;
  min-height: 400px;
  /* background-color: blue; */
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
  border-radius: 15px;
  margin-top: 130px;
}

form h1 {
  color: snow;
}

button {
  background-color: black;
  width: 125px;
  height: 25px;
  color: greenyellow;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin: 5px;
}

input[type="text"] {
  width: 85%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #232323;
  color: #232323;
  background-color: snow;
}

input[type="password"] {
  width: 85%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #232323;
  color: #232323;
  background-color: snow;
}

#user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#weatherform {
  width: 350px;
  min-height: 50px;
  /* background-color: blue; */
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  /* background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
}

.user-card {
  background-color: turquoise;
  width: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.user-card-2 {
  background-color: turquoise;
  width: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.username {
  font-size: 18px;
  margin: 5px 0;
}

.email {
  font-size: 15px;
  margin: 5px 0;
}

.first-name {
  font-size: 15px;
  margin: 5px 0;
}
.message {
  font-size: 15px;
  margin: 5px 0;
}

.last-name {
  font-size: 15px;
  margin: 5px 0;
}

.btns-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

.btns-container > button {
  width: 20px;
}
.color4 {
  color: black;
  font-weight: normal;
  background-color: maroon;
}
.color5 {
  color: black;
  font-weight: normal;
  background-color: yellow;
}

.color6 {
  color: black;
  font-weight: normal;
  background-color: orange;
}
.color7 {
  color: black;
  font-weight: normal;
  background-color: gold;
  font-style: italic;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  color: yellow;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
